<form class="" action="/animals/add" method="post">
  <input type="text" name="name" placeholder="Pet Name">
  <input type="number" min="0" name="age" placeholder="Age">
  <select class="" name="species">
    <option value="Cat">Cat</option>
    <option value="Dog">Dog</option>
    <option value="Ferret">Ferret</option>
    <option value="King Cobra">King Cobra</option>
    <option value="Rabbit">Rabbit</option>
    <option value="Velociraptor">Velociraptor</option>
  </select>
  <input type="text" name="photo" placeholder="Photo.jpeg">
  <input type="submit" value="Add This Pet">
</form>
