<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/4a_styles.css">
    <title>Ayr Animal Adoption Agency</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/pets"><li>The Pets</li></a>
        <a href="/people"><li>Adopters</li></a>
        <a href="/register"><li>Become an Adopter</li></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
